<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/modelo.css" />
    <link rel='shortcut icon' type='image/x-icon' href='/static/css/favicon/favicon.ico' />        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETO SANGUE VOLUNTARIO</title>
</head>
<body id="pause">
    
    
    <h1 id="hora"></h1>
    <script src="/script/pause.js"></script>
       <footer><a href="/views/principal.html">Principal</a></footer>
</body>
</html>